body {
 background-image: url('crumpled-paper-texture_1048-2259.jpg')
 color: purple;
 font-family: monospace;
}
p {
color: red;
}
h1 {
 border: 1px dashed black;
 margin: 5px;
 padding: 10px;
 text-align; center;
