body {
 background-image: url('crumpled-paper-texture_1048-2259.jpg');
 background-repeat: no-repeat;
 background-size: 100%;
 color: purple;
 font-family: monospace;
}
p {
color: red;
}
h1 {
text-decoration-line: underline;
}
 text-align: center;
 .name {
  float: center;
 }
