body{
  /* comments*/
  background-image: url(Exciting-Background.jpg);
  background-repeat: repeat;
  background-size: 100%;
  margin-left: 15%;
  margin-right: 15%;

  color: #151b54;
  font-family: fantasy;

  /* everything is a box*/
}


.myImage {
  border-style: ridge;
  border-color: #7d0552;
  border-width: 5px;
  transform: rotate(5deg);
  position: relative;
  right: 80px;
  bottom: 150px;
  float: right;
}

h1 {
  position: relative;
  left: 5px;
  bottom: 5px;
  font-size: 70px;
}
  .headingLine {
  position: relative;
  bottom: 55px;
  height: 3px;
  background-color: #7d0552;
  border: none;
  }
  .phone {
  position: relative;
  bottom: 55px;
  left: 10px;
  margin: 0px;
  }
  .emailAddress {
    position: relative;
    bottom: 54px;
    left: 10px;
    margin: 0px;
  }
  .address {
  position: relative;
  bottom: 54px;
  left: 10px;
  margin: 0px;
  }
.aboutMe {
  font-size: 18px;
  position: relative;
  bottom: 40px;
  left: 125px;
  width: 375px;
  padding: 15px;
  margin: 0px;
}
h6 {
  margin: 0px;
  position: relative;
  bottom: 35px;
  left: 5px;
  font-size: 40px;
  text-decoration: underline;
  text-decoration-color: #7d0552;
}
  .school {
    font-size: 20px;
    margin: 0px;
    position: relative;
    left: 5px;
    bottom: 30px;
  }
  .educationLevel {
    font-size:20px;
    margin: 0px;
    position: relative;
    left: 35px;
    bottom: 30px;
  }
  .graduation {
    border-style: ridge;
    border-color: #7d0552;
    border-width: 5px;
    transform: rotate(350deg);
    position: relative;
    right: 160px;
  }
  .schoolAccomplishments {
    margin: 0px;
    position: relative;
    left: 100px;
    bottom: 200px;
    list-style-type: circle;
  }
  li {
    font-size: 16px;
    margin: 5px;
    color: #7d0552;
  }
li span {
    color: #151b54
  }
h2 {
  position: relative;
  left: 5px;
  bottom: 150px;
  font-size: 40px;
  text-decoration: underline;
  text-decoration-color: #7d0552;
}

h3 {
  position: relative;
  left: 15px;
  bottom: 160px;
  font-size: 25px;
}
  .petSmartLine {
    position: relative;
    bottom: 180px;
    height: 1px;
    background-color: #7d0552;
    border: none;
  }
  .petSmartDate {
    position: relative;
    bottom: 180px;
    float: right;
    font-family: cursive;
  }
  .petSmartJobTitle {
    position: relative;
    bottom: 180px;
    left: 5px;
  }
  .petSmartJobDuties {
    position: relative;
    bottom: 180px;
    left: 10px;
  }
h4 {
  position: relative;
  left: 15px;
  bottom: 160px;
  font-size: 25px
}
  .walmartLine {
    position: relative;
    bottom: 180px;
    height: 1px;
    background-color: #7d0552;
    border: none;
  }
  .walmartDate {
    position: relative;
    bottom: 180px;
    float: right;
    font-family: cursive;
  }
  .walmartJobTitles {
    position: relative;
    bottom: 180px;
    left: 5px;
  }
  .walmartJobDuties {
    position: relative;
    bottom: 180px;
    left: 10px;
  }
h5 {
  position: relative;
  left: 15px;
  bottom: 160px;
  font-size: 25px
}
  .mcDonaldsLine {
    position: relative;
    bottom: 180px;
    height: 1px;
    background-color: #7d0552;
    border: none;
  }
  .mcDonaldsDate {
    position: relative;
    bottom: 180px;
    float: right;
    font-family: cursive;
  }
  .mcDonaldsJobTitles {
    position: relative;
    bottom: 180px;
    left: 5px;
  }
  .mcDonaldsJobTitle2 {
    position: relative;
    bottom: 140px;
    left: 5px;
  }
  .mcDonaldsJobDuties2 {
    position: relative;
    bottom: 140px;
    left: 5px;
  }
  .mcDonaldsMe {
    border-style: ridge;
    border-color: #7d0552;
    border-width: 5px;
    transform: rotate(10deg);
    position: relative;
    bottom: 170px;
    left: 150px;
    float: right;
  }
  .pictureDescription{
    font-size: 15px;
    position: relative;
    top: 35px;
    left: 510px;
    float: right;
    transform: rotate(10deg);
    width: 375px;
    padding: 15px;
    margin: 0px;
  }
  .mcDonaldsJobDuties {
    position: relative;
    bottom: 180px;
    left: 10px;
  }
  .button {
          background-color: none;
          border-style: ridge;
          border-width: 2px;
          border-color: #7d0552;
          color: #151b54;
          padding: 20px 34px;
          text-decoration: none;
          text-align: center;
          display: inline-block;
          font-size: 20px;
          margin: 4px 2px;
          cursor: pointer;
          position: relative;
          bottom: 130px;
          left: 300px;
        }
.button:hover {
  background-color: #7d0552;
  color: #0041c2;
}
